// $("#photo-comments-<%= @photo.id %> ul").remove("<li class='<%= @comment.id %>'><%= j(render :partial => "comment", :locals => { :photo => @photo, :comment => @comment } ) %></li>");
$("#<%= @comment.id %>").remove();