<h1>edit.html</h1>

<%= form_for @photo, :url => photo_path do |f| %>


<%= render :partial => 'form', :locals => { :f => f } %>
<br>
<p>
  Origin Image
</p>
<%= image_tag( @photo.pic(:medium) ) %>

<br>
<br>
<%= f.submit "Update" %>

<% end %>